html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title pug index file
    link(rel="stylesheet", href="./css/style.css")
  body(style="height:200vh;") 
    //- Header
    include ./pug/_header.pug
    h1 Testing pug and gulp

  script 
    include ./components/Navbar/_navbar.js
    include ./components/Burger/_burger.js
    