html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title pug index file
    link(rel="stylesheet", href="./css/style.css")
  body(style="height:200vh;") 
    //- Header
    include ./pug/_header.pug
    h1 Testing pug and gulp

    .container.text-container 

      include ./components/Tabs/_tabs.pug

      //- Accordion
      include ./components/Accordion/_accordion.pug

      section.text(style="margin-top: 30px;")
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        
      section.text(style="margin-top: 30px;")
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        
      section.text(style="margin-top: 30px;")
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        
      section.text(style="margin-top: 30px;")
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        p.text__p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ducimus est aut, qui enim suscipit sit cumque recusandae, temporibus incidunt vel unde reiciendis delectus, hic quidem illo impedit ut ex aliquam.
        

  script 
    include ./components/Navbar/_navbar.js
  script
    include ./components/Burger/_burger.js
  script
    include ./components/Accordion/_accordion.js
  script
    include ./components/Tabs/_tabs.js
    